/PDFs/AS17_CM.PDF filter=lfs diff=lfs merge=lfs -text
/PDFs/AS17_LM.PDF filter=lfs diff=lfs merge=lfs -text
/PDFs/AS17_PAC.PDF filter=lfs diff=lfs merge=lfs -text
/PDFs/AS17_PAO.PDF filter=lfs diff=lfs merge=lfs -text
/PDFs/AS17_TEC.PDF filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_CM.PDF filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_LM.PDF filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_PAC.PDF filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_PAO.PDF filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_TEC.PDF filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/{22A0CB98-929E-4924-B4D8-D5F65EA54829}.pdf filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A17[[:space:]]Timeline[[:space:]]Reconstruction.prproj filter=lfs diff=lfs merge=lfs -text
/HTML_Scripts/output/output.html filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/{9DB4BF9F-C3D0-44A3-85CA-F0DE58D5B60C}.pdf filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_CM.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_LM.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_PAC.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_PAO.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_TEC.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/{9DB4BF9F-C3D0-44A3-85CA-F0DE58D5B60C}.pdf filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/{22A0CB98-929E-4924-B4D8-D5F65EA54829}.pdf filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/A17_MissionReport.pdf filter=lfs diff=lfs merge=lfs -text
