/PDFs/AS17_CM.PDF filter=lfs diff=lfs merge=lfs -text
/PDFs/AS17_LM.PDF filter=lfs diff=lfs merge=lfs -text
/PDFs/AS17_PAC.PDF filter=lfs diff=lfs merge=lfs -text
/PDFs/AS17_PAO.PDF filter=lfs diff=lfs merge=lfs -text
/PDFs/AS17_TEC.PDF filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-0-499/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-500-999/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_CM.PDF filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_LM.PDF filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_PAC.PDF filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_PAO.PDF filter=lfs diff=lfs merge=lfs -text
/_Source_Images/PDFs/AS17_TEC.PDF filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/{22A0CB98-929E-4924-B4D8-D5F65EA54829}.pdf filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A17[[:space:]]Timeline[[:space:]]Reconstruction.prproj filter=lfs diff=lfs merge=lfs -text
/HTML_Scripts/output/output.html filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/{9DB4BF9F-C3D0-44A3-85CA-F0DE58D5B60C}.pdf filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_CM.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_LM.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_PAC.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_PAO.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/AS17_TEC.PDF filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/{9DB4BF9F-C3D0-44A3-85CA-F0DE58D5B60C}.pdf filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/{22A0CB98-929E-4924-B4D8-D5F65EA54829}.pdf filter=lfs diff=lfs merge=lfs -text
/OCR/_Source_Images/PDFs/A17_MissionReport.pdf filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/{9DB4BF9F-C3D0-44A3-85CA-F0DE58D5B60C}.pdf filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/{22A0CB98-929E-4924-B4D8-D5F65EA54829}.pdf filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/A17_MissionReport.pdf filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_CM.PDF filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_LM.PDF filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_PAC.PDF filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_PAO.PDF filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_TEC.PDF filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PhotoIndex/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PhotoIndex/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PhotoIndex/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/HTML_Scripts/output/allUtterances.html filter=lfs diff=lfs merge=lfs -text
/_Website/_webroot/allUtterances.html filter=lfs diff=lfs merge=lfs -text
/_Website/_webroot/utterancePage.html filter=lfs diff=lfs merge=lfs -text
/_Website/assets/Apollo_17-insignia.png filter=lfs diff=lfs merge=lfs -text
/_Website/assets/wireframe.graffle/image5.png filter=lfs diff=lfs merge=lfs -text
/_Website/apollo17_wireframe.pdf filter=lfs diff=lfs merge=lfs -text
/assets/splash.sketch filter=lfs diff=lfs merge=lfs -text
/_Website/assets/bg_image.sketch filter=lfs diff=lfs merge=lfs -text
/assets/help.sketch filter=lfs diff=lfs merge=lfs -text
/_Website/assets/apollo17_wireframe.pdf filter=lfs diff=lfs merge=lfs -text
/MISSION_DATA/Archive/A17_papers.xlsx filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A17[[:space:]]Timeline[[:space:]]Reconstruction_1_1_2_1.prin filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17[[:space:]]Mission[[:space:]]Report/{9DB4BF9F-C3D0-44A3-85CA-F0DE58D5B60C}.pdf filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1-500/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-1001-2460/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-501-1000/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/documentSynthesisData.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/layoutProperties.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/docdata/synCache.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PAO/{22A0CB98-929E-4924-B4D8-D5F65EA54829}.pdf filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PhotoIndex/data/layout.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PhotoIndex/data/textStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/Abbyy[[:space:]]Image[[:space:]]OCR/A17-PhotoIndex/data/textVariantsStorage.dat filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/A17_MissionReport.pdf filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_CM.PDF filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_LM.PDF filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_PAC.PDF filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_PAO.PDF filter=lfs diff=lfs merge=lfs -text
/legacy/17/![[:space:]]Previous[[:space:]]Steps/OCR/_Source_Images/PDFs/AS17_TEC.PDF filter=lfs diff=lfs merge=lfs -text
/legacy/17/MISSION_DATA/Archive/A17_papers.xlsx filter=lfs diff=lfs merge=lfs -text
/legacy/17/Premiere[[:space:]]Pro/A17[[:space:]]Timeline[[:space:]]Reconstruction_1_1_2_1.prin filter=lfs diff=lfs merge=lfs -text
/legacy/17/_Website/assets/Apollo_17-insignia.png filter=lfs diff=lfs merge=lfs -text
/legacy/17/_Website/assets/apollo17_wireframe.pdf filter=lfs diff=lfs merge=lfs -text
/legacy/17/_Website/assets/bg_image.sketch filter=lfs diff=lfs merge=lfs -text
/legacy/17/_Website/assets/wireframe.graffle/image5.png filter=lfs diff=lfs merge=lfs -text
/legacy/17/assets/help.sketch filter=lfs diff=lfs merge=lfs -text
/legacy/17/assets/splash.sketch filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A11[[:space:]]Timeline[[:space:]]Reconstruction_retimed.prproj filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A11[[:space:]]Timeline[[:space:]]Reconstruction.prproj filter=lfs diff=lfs merge=lfs -text
/_website/assets/Apollo_11_insignia.png filter=lfs diff=lfs merge=lfs -text
/_website/assets/Apollo_Mission_Control_Isometric_Cutaway.png filter=lfs diff=lfs merge=lfs -text
/_website/assets/MOCR_ISO.tif filter=lfs diff=lfs merge=lfs -text
/_website/assets/splash_background.psd filter=lfs diff=lfs merge=lfs -text
/_website/assets/splash_sidebar.psd filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A11[[:space:]]Timeline[[:space:]]Reconstruction_retimed_1.prproj filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A11[[:space:]]Timeline[[:space:]]Reconstruction_retimed_2.prproj filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A11[[:space:]]Timeline[[:space:]]Reconstruction_retimed_3.prproj filter=lfs diff=lfs merge=lfs -text
/_website/_webroot/11/.zip filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A11[[:space:]]Timeline[[:space:]]Reconstruction_retimed_3_1.prproj filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A11[[:space:]]Timeline[[:space:]]Reconstruction_retimed_3_1_1.prproj filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/A11[[:space:]]Timeline[[:space:]]Reconstruction_retimed_3_1_1_1.prproj filter=lfs diff=lfs merge=lfs -text
/Premiere[[:space:]]Pro/_128[[:space:]]-[[:space:]]136_2.gif filter=lfs diff=lfs merge=lfs -text
